body {
    font-family: Arial;
    background-color: #131313;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#modelSelector {
    margin-top: 10px;
}
#mode {
    margin-top: 10px;
}

#chatContainer {
    border: 1px solid #474747;
    padding: 10px;
    background-color: #474747;
    height: 400px;
    overflow-y: scroll;
}

#chatMessages {
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.user-message {
    background-color: #313131;
    align-self: flex-end;
}

.bot-message {
    background-color: #313131;
    align-self: flex-start;
}

#inputContainer {
    display: flex;
    margin-top: 20px;
}

#userInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#sendButton {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #035000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sendButton:hover {
    background-color: #046d00;
}
